[submodule "dnslib"]
	path = dnslib
	url = https://github.com/paulchakravarti/dnslib.git
[submodule "python-daemon"]
	path = python-daemon
	url = https://github.com/eaufavor/python-daemon.git
[submodule "pylockfile"]
	path = pylockfile
	url = https://github.com/openstack/pylockfile.git
